<%- include header.ejs%>
<%- include home_nav.ejs%>

<div  id="dv_home" class="col-sm-9 col-md-10 col-md-offset-1 main" style="float: left;left:80px;">

    <div class="table-responsive">
        <table class="table">
            <caption style="color: #000000">后台正在运行的任务</caption>
            <thead>
            <tr style="background: steelblue;color: #ffffff;font-size: 10px">
                <th>任务ID</th>
                <th>任务名称</th>
                <th>系统批次号</th>
                <th>目标数量</th>
                <th>开始时间</th>
                <th>进度</th>
            </tr>
            </thead>
            <tbody>
            <% if(n_res.length>0) { %>
            <% for(var i=0;i<n_res.length;i++){ %>
            <tr class="txtdd">
                <td><%=n_res[i].task_id%></td>
                <td><%=n_res[i].task_name%></td>
                <td><%=n_res[i].batch_id%></td>
                <td><%=n_res[i].task_des%></td>
                <td><%=n_res[i].ddtime%></td>
                <td><%=n_res[i].task_pct%>%</td>
            </tr>
            <% }}%>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table">
            <caption style="color: #000000">3天内后台已完成任务</caption>
            <thead>
            <tr style="background: steelblue;color: #ffffff;font-size: 10px">
                <th>任务ID</th>
                <th>任务名称</th>
                <th>系统批次号</th>
                <th>目标数量</th>
                <th>开始时间</th>
                <th>进度</th>
                <th>原因详情</th>
            </tr>
            </thead>
            <tbody>
            <% if(done_res.length>0) { %>
            <% for(var i=0;i<done_res.length;i++){ %>
            <tr class="txtdd">
                <td id="i_tid_<%=i%>"><%=done_res[i].task_id%></td>
                <td id="i_tname_<%=i%>"><%=done_res[i].task_name%></td>
                <td><%=done_res[i].batch_id%></td>
                <td><%=done_res[i].task_des%></td>
                <td><%=done_res[i].ddtime%></td>
                <td><%=done_res[i].task_pct%>%</td>
                <% if (done_res[i].task_pct < 100) {  %>
                   <td id='i_td_<%=i%>' data-toggle="modal" data-target="#myModal"
                           style="color: dodgerblue">点我查看原因</td>
                <%} else {%>
                   <td></td>
                <% }%>
            </tr>
            <% }}%>
            </tbody>
        </table>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #808080;">
                    <h4 class="modal-title" id="myModalLabel" style="color: #ffffff" >
                        详细失败原因查看
                    </h4>
                </div>
                <div id="id_model_txt" class="modal-body">
                </div>
                <div class="modal-footer" style="background: #ffffff">
                    <button type="button" class="btn btn-info"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">


    $("td[id^='i_td_']").click(function(){
        //console.log($('#'+this.id).text())

        if($('#'+this.id).text())
        {
            $.ajax({
                type: 'POST',
                url : '/xadmin/batch_task',
                data: {m_tid:$("#i_tid_"+this.id.split('_')[2]).text(),
                       m_tname:$("#i_tname_"+this.id.split('_')[2]).text()},
                success: function(data){

                    var string_res='';
                    for(var i=0;i<data.length;i++)
                    {
                        string_res=string_res+data[i].task_dtl+'</br>'
                       // console.log(data[i].task_dtl)
                    }
                    $("#id_model_txt").html(string_res)
                }
            });
        }

    })
</script>




<%- include home_footer.ejs%>
<%- include footer.ejs%>