<%- include header.ejs%>
<%- include home_nav.ejs%>


<script src="/admin/js/ajaxfileupload.js"></script>

<style type="text/css">
    body{ font-size:14px;font-family: "Microsoft YaHei"}
    input{ vertical-align:middle; margin:0; padding:0}
    .file-box{position:relative;width:360px}
    .txt{ height:32px; border:1px solid #cdcdcd; width:150px;}
    .file{ position:absolute; top:0; right:60px; height:32px; filter:alpha(opacity:0);opacity: 0;width:300px }
</style>

<div  id="dv_home" class="col-sm-9 col-md-10 col-md-offset-1 main" style="float: left;left:80px;">

    <div class="alert alert-warning">
        <strong>提示！</strong>请选择您需要上传的NFC_ID文件箱子、商品名称、经销地。文件必须是TXT格式，不建议超过8万条。
        </br><strong>提示！</strong>目前服务器处理8万条记录的时间约在5分钟左右，请耐心等待。
    </div>
    <div class="file-box">
        <form action="" method="post" enctype="multipart/form-data">
            <input type='text' name='textfield' id='textfield' class='txt' />
            <input type='button' class='btn btn-info' value='浏览' style="width: 100px"/>
            <input type="file" name="houseMaps" class="file" id="houseMaps"  onchange="fileSelected();" />
            <div>
                </br>
                <select id="id_goods" name="select" class="btn btn-info" style="width: 255px">
                    <option value ="NULL" selected="selected">请选择商品名称</option>
                    <% for (var i=0;i<res_goods.length;i++) {%>
                    <option value ="<%= res_goods[i].name%>"><%= res_goods[i].name%></option>
                    <% } %>
                </select>
            </div>
            <div >
                </br>
                <select id="id_city" name="select" class="btn btn-info"  style="width: 255px">
                    <option value ="NULL" selected="selected">请选择经销地</option>
                    <option value ="上海">上海</option>
                    <option value ="北京">北京</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                </select>
            </div>


            </br>
            <input class="btn btn-danger" type="button" value="提交" style="width: 255px" onclick="ajaxFileUpload()"/>
        </form>
    </div>

    </br>
    <div id="fileName"></div>
    <div id="fileSize"></div>
    <div id="fileType"></div>
    <div id="goodsname"></div>
    <div id="salecity"></div>

    </br>
    <div id="progress"></div>
    <div id="result"></div>
</div>
<script type="text/javascript">
    function fileSelected() {
        // document.getElementById('textfield').value=this.value
        var file = document.getElementById('houseMaps').files[0];
        if (file) {
            var fileSize = 0;
            if (file.size > 1024 * 1024)
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            else
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

            document.getElementById('fileName').innerHTML = '文件名称  ： ' + file.name;
            document.getElementById('fileSize').innerHTML = '文件大小  ： ' + fileSize;
            document.getElementById('fileType').innerHTML = '文件类型  ： ' + file.type;
        }
    };

    function ajaxFileUpload(){
        //console.log($('#sss').val())   //下来列表
        var file = document.getElementById('houseMaps').files[0];
        document.getElementById('goodsname').innerHTML = '商品名称  ： ' + $('#id_goods').val();
        document.getElementById('salecity').innerHTML =  '经销城市  ： ' + $('#id_city').val();
        if(!file)
        {
            $('#result').html('<div class="alert alert-warning">上传的文件为空。</div>');
        } else if ($('#id_goods').val()=="NULL" || $('#id_city').val()=="NULL")
        {
            $('#result').html('<div class="alert alert-warning">商品名称 或者 经销地 未选择。</div>');
        }
        else
        {
            $.ajaxFileUpload(
                    {
                        url:'/xadmin/batch_upload_package',            //需要链接到服务器地址
                        secureuri:false,
                        fileElementId:'houseMaps',                        //文件选择框的id属性
                        dataType: 'json',                           //服务器返回的格式，可以是json
                        data:{ i_goods:$('#id_goods').val(),i_city:$('#id_city').val()},
                        success: function(data, status)            //相当于java中try语句块的用法
                        {
                            //console.log(data);
                            //console.log(status);
                            $('#result').html('添加成功');
                            $("#id_goods option").eq(0).attr("selected",true);
                            $("#id_city option").eq(0).attr("selected",true);
                        },
                        error: function (data, status, e)            //相当于java中catch语句块的用法
                        {
                            //console.log(data.responseText);
                            //console.log(e)
                            $('#result').html(data.responseText);
                            $("#id_goods option").eq(0).attr("selected",true);
                            $("#id_city option").eq(0).attr("selected",true);
                            //$("#id_city").find("option[text='请选择经销地']").attr("selected",true);
                        }
                    }
            );
        }
    }
</script>
<%- include home_footer.ejs%>
<%- include footer.ejs%>