<!DOCTYPE HTML>
<html>
<head>
    <title>一三一素防伪验证平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="application/x-javascript"></script>
    <link href="/anti/css/theme-style.css" rel='stylesheet' type='text/css' />
    <link  href="/anti/css/jquery.mobile-1.4.2.min.css" rel="Stylesheet" type="text/css" />
    <script src="/anti/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script src="/anti/js/jquery.mobile-1.4.2.min.js" type="text/javascript"></script>

    <script>
        $(document).on("pageinit","#page-failed",function(){
            $("p").on("tap",function(){
                if($(this).attr('id') == "contact") {
                    window.location.href = "/contactus_<%=logo_png%>";
                }
            });
        });
    </script>

</head>

<body>
<div data-role="page" id="page-failed">
    <div id="fea" class="features"  style="background:url(/anti/images/page_bg_<%=logo_png%>.png)">
        <div class="head text-center">
            <br/>
            <br/>
            <br/>
            <img align="absmiddle" src="/anti/images/failed.png" width="58px" height="58px">
        </div>
        <br/>
        <br/>
        <div class="features-grids text-center" style="color:#ffffff; margin:auto; font-size:20px;">
            <div><%=msg_error%></div>
            <% if (msg_error_time){%>
                <div>上次验证时间</div>
                <div><%=msg_error_time%></div>
            <%}%>
            <div>请谨防假冒</div>
        </div>
        <br/>
        <br/>
        <div class="features-grids text-center">
            <div class="col-md-3 features-grid">
                <img src="/anti/images/<%=logo_png%>.png" width="126px" height="126px" >
            </div>
        </div>
        <br/>
        <br/>
    </div>
    <div style="padding:10px 20px 10px; text-align:center; background:#444447; color:#ffffff;">
        <p id="contact"><img align="absmiddle" src="/anti/images/phone-1.png" style="vertical-align:middle;padding-right:10px;" width="19px" height="19px" >  联系我们</p>
    </div>
</div>
</body>
</html>