<%- include header%>
<%- include home_nav%>
<script src="/admin/js/bootstrap-editable.min.js"></script>
<link href="/admin/css/select2.css" rel="stylesheet">
<link href="/admin/css/select2-bootstrap.css" rel="stylesheet">
<script src="/admin/js/select2.js"></script>


<div  id="dv_home" class="col-sm-9 col-md-12 col-md-offset-1 main" style="float: left;left:60px;">

    <div id="i_add" >
        <button type="button" class="btn btn-info" id="b_add">
            <span class="glyphicon glyphicon-user"></span> 增加用户
        </button>

        <form id="i_add_info" style="display: none" >
            </br>
            <%- include proxy_add %>

            </br>

        </form>

    </div>

    </br>

    <div class="table-responsive">
        <table class="table" id="t_info">
            <div style="">
            <input type="text" class="form-control" id="id_filter" style="width: 500px"
                   placeholder="请输入姓名、登陆账号来过滤表格">
            </div>
            </br>
            <thead>
            <tr style="background: steelblue;color: #ffffff;font-size: 10px">
                <th>姓名</th>
                <th>登陆账户</th>
                <th>微信账号</th>
                <th>淘宝账号</th>
                <th>等级</th>
                <th>区域</th>
                <th>状态</th>
                <th>首次登陆</th>
                <th>渠道</th>
                <th>身份证号</th>
                <th>联系方式</th>
                <th>上级</th>
                <th>上级ID</th>

            </tr>
            </thead>
            <tbody>
            <% if(n_res.length>0) { %>
            <% for(var i=0;i<n_res.length;i++){ %>
            <tr id="i_tr_<%=i%>" class="txtddd">
                <td id="i_nm-person_name-<%=i%>"><%=n_res[i].person_name%></td>
                <td id="i_pacc_<%=i%>"><%=n_res[i].name%></td>
                <td id="i_nm-alname-<%=i%>"><%=n_res[i].alname%></td>
                <td id="i_nm-tbname-<%=i%>"><%=n_res[i].tbname%></td>
                <td id="i_lv-ulevel-<%=i%>"><%=n_res[i].ulevel%></td>
                <td id="i_nm-uzone-<%=i%>"><%=n_res[i].uzone%></td>
                <td id="i_nm-state-<%=i%>"><%=n_res[i].state%></td>
                <td id="i_nm-frstate-<%=i%>"><%=n_res[i].frstate%></td>
                <td id="i_nm-sid-<%=i%>"><%=n_res[i].s_id%></td>
                <td id="i_nm-person_id-<%=i%>"><%=n_res[i].person_id%></td>
                <td id="i_nm-person_cell-<%=i%>"><%=n_res[i].person_cell%></td>
                <td id="i_bss_upname_<%=i%>"><%=n_res[i].up_name%></td>
                <td><%=n_res[i].up_id%></td>
            </tr>
            <% }}%>
            </tbody>
        </table>
    </div>

    <div>



    </div>
</div>
<script type="text/javascript">

    //提交按钮的确认
    $("#btnConfirm").click(function (){
        $.ajax({
            type: "POST",
            url: "/xadmin/proxy_info_add",
            data: {
                person_name: $("#f_person_name").val(),
                name:$("#f_name").val(),
                alname:$("#f_alname").val(),
                tbname:$("#f_tbname").val(),
                ulevel:$("#f_ulevel").val(),
                uzone:$("#f_uzone").val(),
                sid:$("#f_sid").val(),
                person_id:$("#f_person_id").val(),
                person_cell:$("#f_person_cell").val()
            },
            dataType: "json",
            async:false,
            success: function(data){
                console.log(data);
            }
        });
    });

    //取消按钮确认
    $("#btnCancel").click(function (){
        $("#i_add_info").css("display","none");
    });


    //折叠 记录增加的按钮
    $("#b_add").click(function(){
        if ($("#i_add_info").css("display")=="none")
        {
            $("#i_add_info").css("display","");
        } else
        {
            $("#i_add_info").css("display","none");
        }
    });

    $.fn.editable.defaults.mode = 'inline';

    //普通资料更新 ，除BOSS/PK外
    $("td[id^='i_nm']").click(function(){
        var pk_real=$("#i_pacc_"+this.id.split('-')[2]).text();
        var old_value=$("#"+this.id).text();
        $(this).editable({
            type: 'text',
            pk: pk_real,
            url: '/xadmin/proxy_upt_nml',
            params: function(params) {
                params.old_value = old_value;
                return params;
            },
            success: function(s_res, newValue) {
                if(s_res.code == 'error')
                    return s_res.msg;
                window.location="/xadmin/proxy_info";
            }
        });
    });

    //普通资料更新 ，纯粹的用户等级，但是上下级及PK不变
    $("td[id^='i_lv']").click(function(){
        var old_value=$("#"+this.id).text();
        var pk_real=$("#i_pacc_"+this.id.split('-')[2]).text();
        $(this).editable({
            type: 'select',
            pk: pk_real,
            source: [
                {value: 2, text: '2'},
                {value: 3, text: '3'},
                {value: 4, text: '4'},
                {value: 5, text: '5'},
                {value: 6, text: '6'},
            ],
            params: function(params) {
                params.old_value = old_value;
                return params;
            },
            url: '/xadmin/proxy_upt_level',
            success: function(s_res, newValue) {
                if(s_res.code == 'error')
                    return s_res.msg;
                window.location="/xadmin/proxy_info";
            }
        });
    });

    //一个人的上级资料更新
    $("td[id^='i_bss']").click(function(){
        var pk_real=$("#i_pacc_"+this.id.split('_')[3]).text();
        var ulevel=$("#i_lv-ulevel-"+this.id.split('_')[3]).text();
        var my_id=this.id;
        var old_value=$("#"+this.id).text();

        $.ajax({
            type: "POST",
            url: "/xadmin/proxy_qs_myboss",
            data: {m_ulevel:ulevel,m_name:pk_real},
            dataType: "json",
            async:false,
            success: function(src_data){
                //console.log(this);
               // console.log(src_data);
                $('#'+my_id).editable({
                    type:'select2',
                    value: 2,
                    pk: pk_real,
                    url: '/xadmin/proxy_upt_boss',
                    params: function(params) {
                        params.old_value = old_value;
                        return params;
                    },
                    source: src_data.msg,
                    select2:{
                        width:'180px'
                    },
                    success: function(s_res, newValue) {
                        if(s_res.code == 'error')
                            return s_res.msg;
                        window.location="/xadmin/proxy_info";
                    }
                });
            }
        });
    });

    //PK的资料更新，授权编号
    $("td[id^='i_pacc']").click(function(){
        var pk_real=$("#i_pacc_"+this.id.split('_')[2]).text();
        //console.log(pk_real);
        var xid=$("#i_lv-ulevel-"+this.id.split('_')[2]).text();
        var old_value=pk_real;
        //console.log(old_value)
        //console.log(xid)

        $(this).editable({
            type:'text',
            pk: pk_real,
            url: '/xadmin/proxy_upt_pk',
            params: function(params) {
                params.old_value = old_value;
                params.old_id = xid;
                return params;
            },
            success: function(s_res, newValue) {
                //console.log(JSON.parse(s_res));
                //console.log(JSON.parse(s_res).code);
                if(JSON.parse(s_res).code == 'error')
                {
                    console.log('222222222222');
                    return JSON.parse(s_res).msg;
                }
            }
        });
    });

    function table_filter(p_objname)
    {
                //console.log('---------------------')
                //console.log(p_objname.length);
                var obj_length=p_objname.length;
                var tableRows=document.getElementById("t_info").rows;
                for(var i=1;i<tableRows.length;i++){
                    //console.log(tableRows[i].cells[0].innerText.length);
                    if (tableRows[i].cells[0].innerText.substr(0,obj_length).toUpperCase()==p_objname.toUpperCase() ||
                            tableRows[i].cells[1].innerText.substr(0,obj_length).toUpperCase()==p_objname.toUpperCase()
                            )
                    {
                        tableRows[i].style.display="";
                        //console.log(tableRows[i].cells[0].innerText);
                    } else
                    {
                        tableRows[i].style.display="none";
                    }
                    //console.log(tableRows[i])
                }
            }

    $('#id_filter').keyup(function(){
        table_filter($(this).val());
    });


</script>

<%- include footer%>